{% extends 'admin/base.html.twig' %}

{% block title %}
Création d'une nouvelle recette
{% endblock %}

{% block body %}
	<h1>Création d'une nouvelle recette</h1>
	{{ form(recipeForm) }}
{% endblock %}
