data/
.vscode/
var/
vendor/
bin/
migrations/
# assets/
.env.test
.buildpath
compose.override.yaml
compose.yaml
composer.json
compose.lock
composer.lock
importmap.php
phpunit.xml.dist
symfony.lock
target/
.settings/
.classpath
.project

