{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!
{% endblock %}

{% block body %}


	<h1>Recipes</h1>
	<table class="table">
		<tbody>
			<tr>
				<th>Titre</th>
				<th>Action</th>
			</tr>
		</tbody>
		{% for id, recipe in recipes %}
			<tr>
				<td>
					<a href="{{ url('recipe.show', { id: recipe.id }) }}">{{ recipe.title }}</a>
				</td>
				<td>
					<a class="btn btn-primary btn-sm" href="{{ path("recipe.edit", {id: recipe.id }) }}">Editer</a>
				</td>
			</tr>
		{% endfor %}
	</table>


{% endblock %}
