{% extends 'admin/admin.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}

<table class="table">
	<tbody>
		<tr>
			<th>Titre</th>
			<th>Action</th>
		</tr>
	</tbody>
	{% for recipe in recipes %}
	<tr>
		<td><a
			href="{{ path("admin.recipe.show", {id: recipe.id, slug: recipe.slug }) }}">{{recipe.title}}</a></td>
		<td>
			<div class="d-flex gap-1">
				<a class="btn btn-primary btn-sm"
					href="{{ path("admin.recipe.edit", {id: recipe.id }) }}">Editer</a>
				<form action="{{ path("admin.recipe.delete", {id: recipe.id }) }}"
					method="post">
					<!-- màj 'http_method_override: true' dans framework.yaml -->
					<input type="hidden" name="_method" value="DELETE">
					<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
				</form>
			</div>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
